<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>我的</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.form.min.js"></script>
    <style>
      * {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
      }

      .left {
        overflow: hidden;
        width: 12%;
        height: 100%;
        background: #dddddd;
        position: absolute;
      }

      .left li {
        padding-top: 20px;
      }

      .right {
        left: 12%;
        width: 88%;
        height: 100%;
        float: left;
        position: absolute;
      }

      .box {
        width: 90%;
        border: solid #337ab7 1px;
        border-radius: 8px;
        position: absolute;
      }

      .top {
        height: 40px;
        background: #337ab7;
        color: white;
        font-size: 18px;
        padding: 8px 20px 0 20px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
      }

      .list-group-item {
        margin: 20px;
        color: #337ab7;
        background: #d9edf7;
      }

      .list-group-item span {
        display: inline-block;
        width: 80%;
      }

    </style>
  </head>
  <body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-brand">我的臻品生活</div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">首页</a></li>
            <li><a href="/food/id/no/0">美食</a></li>
            <li><a th:href="${'/activity/'+#authentication.name+'/id'}">活动</a></li>
            <li><a href="/about">关于</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a sec:authentication="name" id="username"></a></li>
            <li><a href="/logout">退出</a></li>
          </ul>
        </div>
        <!--/.nav-collapse -->
      </div>
    </nav>

    <div class="all" style="position: absolute;top: 7%;height: 93%;width: 100%">
      <!-- Nav tabs -->
      <ul class="nav nav-pills nav-stacked left">
        <li class="active"><a href="#food" data-toggle="tab">收藏的美食</a></li>
        <li><a href="#activity" data-toggle="tab">预约的活动</a></li>
        <li><a href="#setting" data-toggle="tab">设置</a></li>
        <li><a href="#foodUpload" data-toggle="tab">美食发布</a></li>
        <li><a href="#activityUpload" data-toggle="tab">活动发布</a></li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content right" style="overflow: hidden">
        <div class="tab-pane active" id="food" style="margin-left: 5%;">
          <h2>管理我的臻品生活</h2>
          <hr/>
          <div class="box">
            <div class="top">我收藏的美食</div>
            <div class="bottom">
              <ul class="list-group bottomset">
                <th:block th:each="collectFood:${collectFoods}">
                  <a th:href="${'/detail/'+collectFood.foodId+'/'+#authentication.name}">
                    <li class="list-group-item" th:text="${collectFood.foodName}"></li>
                  </a>
                </th:block>
              </ul>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="activity" style="margin-left: 5%;">
          <h2>管理我的臻品生活</h2>
          <hr/>
          <div class="box">
            <div class="top">我预约的活动</div>
            <div class="bottom">
              <ul class="list-group bottomset">
                <th:block th:each="reservation:${reservations}">
                  <li class="list-group-item">
                    <a th:href="${'/activity/'+#authentication.name+'/id'}">
                      <span th:text="${reservation.activityName}"></span>
                    </a>
                    <button type="button" class="btn btn-danger">
                      <a style="color: #ffffff"
                         th:href="${'/activity/cancel/'+reservation.id+'/'+#authentication.name}">
                        取消
                      </a>
                    </button>
                  </li>
                </th:block>
              </ul>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="setting" style="margin-left: 5%;">
          <h2>修改密码</h2>
          <hr>
          <div class="container text-center" style="width:30%">
            <form class="form-horizontal" id="userForm" action="/user/update">
              <input type="hidden" id="username1" name="username" th:value="${#authentication.name}">
              <input type="password" id="password1" name="password" class="form-control" placeholder="原密码">
              <br>
              <input type="password" id="password2" name="newPassword" class="form-control" placeholder="新密码">
              <br>
              <input type="password" id="password3" class="form-control" placeholder="重复密码">
              <br>
              <button type="submit" class="btn btn-primary" style="width: 100%">提交</button>
            </form>
          </div>
        </div>
        <!--        食物上传-->
        <div class="tab-pane" style="overflow: hidden" id="foodUpload">
          <form class="form-horizontal" style="margin-top: 4%;width:100%;height: 90%; position: absolute;"
                action="/food/add" method="post" id="foodForm">
            <div class="form-group">
              <label class="col-sm-2 control-label">美食名称</label>
              <div class="col-sm-9">
                <input type="hidden" name="username" class="username">
                <input type="text" class="form-control" name="foodName" placeholder="请输入美食名称">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">上传照片</label>
              <div class="col-sm-9">
                <input type="file" class="form-control-file " id="mainImg" name="img">
                <img class="img-responsive " id="imgShow">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">材料</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" placeholder="需要材料" name="material">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">步骤数</label>
              <div class="col-sm-7">
                <input type="text" class="form-control" id="stepNum" placeholder="步骤数" name="stepNum">
              </div>
              <button type="button" class="btn btn-primary col-sm-1" id="confirm">确认</button>
            </div>
            <div style="text-align: center">
              <button type="submit" class="btn btn-success" style="width: 10%" id="submit">提交</button>
            </div>
          </form>
        </div>
        <div class="tab-pane" id="activityUpload">
          <form class="form-horizontal" style="margin-top: 4%;width:100%;height: 90%; position: absolute;"
                action="/activity/add" method="post" id="activityForm">
            <div class="form-group">
              <label class="col-sm-2 control-label">活动名称</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" name="name" placeholder="请输入活动名称">
                <input type="hidden" name="username" class="username">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">活动区域</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" name="city" placeholder="活动区域">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">活动起始时间</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" name="dateTime" placeholder="yyyy/MM/dd HH:mm-HH:mm">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">活动地点</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" name="address" placeholder="活动地点">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">活动内容</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" name="content" placeholder="活动内容">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label ">上传照片</label>
              <div class="col-sm-9">
                <input type="file" class="form-control-file " name="img" id="mainImg1">
                <img class="img-responsive " id="imgShow1">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label ">上传照片</label>
              <div class="col-sm-9">
                <input type="file" class="form-control-file " name="img" id="mainImg2">
                <img class="img-responsive " id="imgShow2">
              </div>
            </div>
            <div style="text-align: center">
              <button type="submit" class="btn btn-success" style="width: 10%">提交</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    </div>
    <script>
      $(function () {
        $(".username").val($("#username").text());
        $("#mainImg").change(function () {
          $("#imgShow").attr("src", URL.createObjectURL(this.files[0]));
        });
        $("#mainImg1").change(function () {
          $("#imgShow1").attr("src", URL.createObjectURL(this.files[0]));
        });
        $("#mainImg2").change(function () {
          $("#imgShow2").attr("src", URL.createObjectURL(this.files[0]));
        });
        $("#confirm").click(function () {
          if ($("#stepNum").val().length != 0) $(this).hide();
          for (var i = 1; i < parseInt($("#stepNum").val()) + 1; i++) {
            $("#submit").before(
              "<div class='form-group'>" +
              "              <label class='col-sm-2 control-label'>步骤" + i + "</label>" +
              "              <div class='col-sm-9'>" +
              "                <input type='text' class='form-control' name='way' id='step" + i + "' placeholder='步骤" + i + "具体操作'>" +
              "              </div>" +
              "            </div>" +
              "            <div class='form-group'>" +
              "              <label class='col-sm-2 control-label'>上传照片</label>" +
              "              <div class='col-sm-9'>" +
              "                <input type='file' class='form-control-file' name='img' id='stepImg" + i + "'>" +
              "                <img class='img-responsive'>" +
              "              </div>" +
              "            </div>");
            $("#stepImg" + i).change(function () {
              $(this).next().attr("src", URL.createObjectURL(this.files[0]));
            });
          }
        });
        $('#foodForm').ajaxForm(function (data) {
          if (data === true) {
            alert("上传成功！");
          } else alert("上传失败！")
        });
        $('#activityForm').ajaxForm(function (data) {
          if (data === true) {
            alert("上传成功！");
          } else alert("上传失败！")
        });
        $('#userForm').ajaxForm(function (data) {
          alert(data);
          if (data === "修改成功！") {
            location.href = "/login";
          }
        });

        $('#password1').blur(function () {
          if ($(this).val().length === 0)
            alert("表单不能为空！！！");
          else {
            var username = $('#username1').val();
            var password = $(this).val();
            $.get("/user/isTrue?username=" + username + "&password=" + password, function (data) {
              if (data === false) {
                alert("密码错误！！！");
              }
            })
          }
        });

        $('#password3').blur(function () {

          if (!($(this).val() === $('#password2').val())) {
            alert("两次密码不一样！！！");

          }

        })

      });
    </script>
  </body>
</html>